body {
  background-image: url("../images/forest.jpg");
  background-color: #333344;
}
/* #slideshow1 {
  margin: 50px auto;
  position: relative;
  width: 400px;
  height: 300px;
  padding: 0px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  border-radius: 10px;
  border-color: #000000;
}

#slideshow1 > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#slideshow2 {
  margin: 50px auto;
  position: relative;
  width: 400px;
  height: 300px;
  padding: 0px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

#slideshow2 > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
*/
p {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
h1 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 6em;
  text-align: center;
  font-weight: bolder;
  background: rgba(30,35,45,0.5);
  border: solid rgba(20, 25, 35, 0.7) 10px;
  margin: 0 150px 0 -20px;
  back
}
h2 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 4em;
  text-align: center;
  font-weight: bolder;
  background: rgba(30,35,45,0.3);
  border: solid rgba(20, 25, 35, 0.7) 5px;
  margin: 10px 450px -15px 100px;
}
h3 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
.h3form {
  text-align: left;
  font-size: 1em;
}
ul {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
}
table {
  border-style: none;
  border-color: white;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
}
td {
  border-style: solid;
  border-color: white;
  border-width: thin;
}
img.animal {
  display: block;
  margin-left: 150px;
  margin-right: auto;
  border-style: solid;
  border-color: rgba(20, 25, 35, 1.0);
  border-width: 10px;
}
form {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
}
