body {
  background-image: url("../images/forest.jpg");
  background-color: #333344;
}
/* #slideshow1 {
  margin: 50px auto;
  position: relative;
  width: 400px;
  height: 300px;
  padding: 0px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  border-radius: 10px;
  border-color: #000000;
}

#slideshow1 > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#slideshow2 {
  margin: 50px auto;
  position: relative;
  width: 400px;
  height: 300px;
  padding: 0px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

#slideshow2 > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
*/
p {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
h1 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 5em;
  text-align: center;
  font-weight: bolder;
}
h2 {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
}
ul {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
}
img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
